
:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: rgb(72, 42, 92);
    --secundario:#ffffff;
    --gris: #757575;
    --rojo: rgb(222, 0, 0);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'krub', sans-serif;
    background-image: linear-gradient(to top #DFE9F3 0%, var(--blanco) 20%);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
    color: var(--primario)
}

h3 {
    font-size: 1 rem;
    color: var(--secundario);
}

.contacto {
    font-size: 2rem;
    color: var(--rojo);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;   
}

.nav-bg {
    background-color: var(--primario);
}

.navegacion-principal {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.navegacion-principal a{
    color: var(--secundario);
    text-decoration: none;
    margin: 2rem;
}

.navegacion-principal a:hover{
    background-color: darksalmon;
    color: black;
    
}

.hero {
    background-image: url(../img/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    
    margin-bottom: 2rem;
}

.contenido-hero {
    position: inherit;
    background-color: rgba(0, 0, 0, .7);
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ubicacion {
    display: flex;
    /*align-items: flex-end;*/
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: 400;
}

.servicio p {
    line-height: 2;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: var(--gris);
    width: min(60rem,100%);
    padding: 2rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    
}

@media (min-width: 768px) {
    .boton{
        width: auto;
    }

    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}